@import '@styles/variables.scss';

.nav-link-bordered {
  transition-duration: $transition-duration;

  &:hover {
    box-shadow: 0 0 0 4px $color-green inset;
  }
  
  &_active {
    box-shadow: 0 0 0 4px $color-green inset;
  }
}