@import '@styles/variables.scss';

.main-header {
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

    &__logo {
        height: $base*10;
    }

    &__navbar {
        margin: $base*3;
    }
    
    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;

        &-item + &-item {
            margin-left: $base*3;
        }
    }
}