$base: 4px;

$font-size-xs: 15px;
$font-size-sm: 20px;
$font-size-md: 32px;
$font-size-lg: 35px;
$font-size-xl: 50px;

$color-black: #212121;
$color-green: #27c583;
$color-red: #d80e0e;

$link-border-radius-sm: 5px;
$link-border-radius-lg: 15px;

$link-width-sm: 140px;
$link-height: 40px;

$button-width-sm: $link-width-sm;
$button-height: $link-height;

$transition-duration: 0.2s;