@import '../../styles/variables.scss';

.App {
  margin: 0 auto;
  height: 100vh;
  
  &__Preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}

